@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Rubik:wght@300&family=Zilla+Slab&display=swap');

*{
    margin:  0;
    padding:  0;
    box-sizing:  border-box;
    font-family: 'Rubik', sans-serif;
}

.highLight{
   min-height:  100%;
}


/*NAVBAR*/


.navbar a.nav-link {
  color: #fff; /* Text color */
  font-family: "Arial", sans-serif; /* Font family */
  font-size: 16px; /* Font size */
  text-decoration: none; /* Remove underline */
  margin-right: 10px; /* Adjust spacing between links */
}

.navbar a.nav-link:hover {
  color: #ffcc00; /* Text color on hover */
}

.navbar a.page-header1 {
  color: #fff; /* Text color */
  font-family: "Arial", sans-serif; /* Font family */
  font-size: 16px; /* Font size */
  text-decoration: none; /* Remove underline */
  margin-right: 10px; /* Adjust spacing between links */
}

.navbar a.page-header1:hover {
  color: #ffcc00; /* Text color on hover */
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;

}

.banner {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
}

.highlights-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 40px;
}




.product-card img {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.product-card .card-title {
  font-size: 20px;
  margin-bottom: 10px;
  
}

.product-card .card-subtitle {
  font-size: 14px;
  margin-bottom: 5px;
}

.product-card .card-text {
  font-size: 16px;
  margin-bottom: 15px;
}

.product-card .btn {
  width: 100%;
}

.product-card .btn-primary {
  background-color: #333333;
  border-color: #333333;
}

.product-card .btn-primary:hover {
  background-color: #555555;
  border-color: #555555;
}

.product-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*PRODUCT IMAGE*/
.image{
  border: 1px solid #ddd;
}


.admin-info{
  margin: 50px 0 0 0 ;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}


